# vi: ft=yaml
Checks: >
  -*,
  bugprone-*,
  cert-dcl21-cpp,
  cert-dcl50-cpp,
  cert-env33-c,
  cert-err34-c,
  cert-err52-cpp,
  cert-err60-cpp,
  cert-flp30-c,
  cert-msc50-cpp,
  cert-msc51-cpp,
  clang-analyzer-*,
  cppcoreguidelines-*,
  google-build-using-namespace,
  google-explicit-constructor,
  google-global-names-in-headers,
  google-readability-casting,
  google-runtime-int,
  google-runtime-operator,
  hicpp-*,
  misc-*,
  modernize-*,
  performance-*,
  readability-*,
FormatStyle: 'file'
HeaderFilterRegex: '.*'
