name: centipede-environment

on:
  schedule:
    # trigger the workflow on the every sunday at 2 am UTC
    - cron: '0 2 * * 6'
  workflow_dispatch:

jobs:
  docker-build:
    environment: docke_deploy
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: 'true'

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: yanzhaowang
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          push: true
          context: util/container_env
          tags: yanzhaowang/centipede:env
